html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}
#componentWrapper {
  height: 100%;
}
.page_talk {
  height: 100%;
  .talk_header {
    height: 9%;
    width: 100%;
    background-color: $page_bg;
  }
  .talk_middle {
    height: 82%;
    // overflow-y: auto;
    background-color: $talkcontent_bg;
  }
  .talk_footer {
    height: 9%;
    background-color: $page_bg;
  }
}
