
.page_talk {
  height: 100%;
  .talk_header {
    position:absolute;
    top:0px;
    width: 100%;
    background-color: $page_bg;
  }
  .talk_middle {
    position:absolute;
    top: 56px;
    bottom: 56px;
    width: 100%;
    overflow-y: auto;
    background-color: $talkcontent_bg;
  }
  .talk_footer {
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 56px;
    line-height: 56px;
    
    background-color: $page_bg;
  }
}
