//左侧栏的样式调整，也就是自己看到别人发的样式
.talkMsgWrapper {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  .avatarWrapper {
    flex-basis: 15%;
    text-align: center;
    margin-top: 1rem;
  }
  .sliderWrapper{
    flex-basis: 70%;
    .talkerName {
      color: $talkerName_font_color;
      margin-bottom: 0.2rem;
    }
    .talkDialog {
      display: flex;
      justify-content:flex-start;
      color: $talkmsg_font_color;
      border-radius: 4px;
       .talkMsg {
        padding: 0.6rem;
        max-width: 100%;
        border-radius: 5px;
        word-wrap: break-word; 
        word-break:break-all;
        background-color: $talkmsg_bg;
      }
      .triangle {
        margin-right: -0.50rem;
        margin-top: 8px;
        font-size: 0;
        width: 0px;
        height: 0px;
        border: solid 0.4rem;
        border-radius: 2px;
        border-color: $talkmsg_bg;
        transform: rotate(45deg);
      }
    
    }
  }
}
//右侧栏的消息样式，也就是自己发的样式
.talkMsgWrapper__self{
  flex-direction: row-reverse;
  .sliderWrapper__self{
    text-align: right;
    .talkDialog__self{
      justify-content:flex-end;
      text-align: left;
        .triangle__self{
          margin-right: 0rem;
          margin-left: -0.48rem;
        }
        // .talkMsg__self{
           
        // }
    }
  }
 

}
