.boxToSendMsg {
  display: flex;
  width: 100%;
  background-color: $talkinputbox_bg;
}
.inputToSendMsgWrapper{
  flex-basis: 76%;
  margin-bottom: 0px !important;
}
.inputToSendMsg{
  padding-left: 10px !important;
  margin-bottom: 0px !important;
}
.btnToSendMsgWrapper{
  flex-basis: 24%;
  text-align: center;
}

