html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}
#componentWrapper {
  height: 100%;
}
.page_talk {
  height: 100%;
  .talk_header {
    height: 9%;
    width: 100%;
    background-color: #e71c1c;
  }
  .talk_middle {
    height: 82%;
    overflow-y: auto;
    background-color: #e71c1c;
  }
  .talk_footer {
    height: 9%;
    background-color: #0c0a0a;
  }
}
