.boxToSendMsg {
  margin-bottom: 0px;
  height: 63px;
  background-color: $talkinputbox_bg;
}
.formToSendMsg__fixed {
  position: absolute;
}

.formToSendMsg__android {
  position: fixed;
}

.inputToSendMsg {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.btnToSendMsg {
  margin-top: 0.42rem;
  height: 2.9rem;
}
.removeLeftPadding {
  padding: 0px !important;
}
