// //设置背景颜色
// $page_bg: red;
// // #f5f5f5
// $header_bg:#c9d6e6;
// $index_bg:#ec9f39;

// $talkcontent_bg: #726868;
// $talkmsg_bg: #ffffff;
// $talkinputbox_bg: #cf2525;

// //设置字体的颜色
// $talkmsg_font_color: #48433b;
// $talkerName_font_color: #c4c0c8;
// -=====================================

//设置背景颜色
$page_bg: red;
// #f5f5f5
$header_bg:#282b2f;
$index_bg:#eff1f5;

$talkcontent_bg: #726868;
$talkmsg_bg: #ffffff;
$talkinputbox_bg: #ffffff;

//设置字体的颜色
$talkmsg_font_color: #48433b;
$talkerName_font_color: #c4c0c8;
